<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/index.css">

    <title>New User Registration</title>
    <style>
#register_form{
{{session['display_form']}}
}
#error_image{
{{session['display_image']}}
}
    </style>
</head>

<body>

    <form action="/register" method='post' id='register_form'>
        <p>Your First Name:</p> <input type="text" name='first_name' required='true' />
        <p>Your Last Name:</p> <input type="text" name='last_name' required='true' />
        <p>Your Email Address:</p> <input type="text" name='email' required='true' />
        <p>Choose a Password:</p> <input type="password" name='password' required='true' />
        <p>Confirm Your Password:</p> <input type="password" name='pass_conf' required='true' />

        <input type="submit" value='Register New User' />
    </form>

    <img src="../static/error.jpg" alt="" id='error_image'>

</body>

</html>
