<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Book w/ Review</title>
</head>
<body>
    <h1>Add a New Book Title and Review</h1>
    <form action="/add_book/add" method="post">
        {% csrf_token %}
    Book Title: <input type="text" name='title'>
    Author: <select name="author">
        {% for author in authors %}
        <option value="{{author.id}}">{{author.name}}</option>
        {% endfor %}
    </select>
    Or add new author: <input type="text" name = 'new_author'>
    Review: <textarea name="new_review" rows="5" cols="80"></textarea>
    Rating: <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <input type="submit" value='Add Book and Review'>
    </form>
    <p><a href="/home">GO HOME</a></p>
</body>
</html>
