<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>


<body>
    <p>Page Counter: {{session['counter']}}</p>
    <form action="/refresh" method='post'>
        <input type="submit" value='Add Two to Counter!' />
    </form>
    <form action="/reset" method='post'>
        <input type="submit" value='Reset Counter' />
    </form>
</body>

</html>
