<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>View Product</title>
</head>
<body>
    <h1>View {{products.name}}</h1>

    <p>Product Name: {{products.name}}</p>
    <p>Product Description: {{products.description}}</p>
    <p>Product Price: {{products.price}}</p>
    <a href="/edit/{{products.id}}">Edit</a> | <a href="/">Back</a>
</body>
</html>
