<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Current Date and Time</title>
</head>

<style>
#date_time{
    size: 100%;
    font-size: 24pt;
    color: red;
    font-weight: bolder;
    text-align: center;
}
</style>

<body>
    <div id='date_time'>
        <p id='date'>The date today is: {{date}}</p>
        <p id='time'>The current time is: {{time}}</p>
    </div>
</body>

</html>
