<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All Ninjas</title>
    {% load staticfiles %}
</head>
<body>
    <img src="{% static 'Ninjas/images/leonardo.png'%}" alt="Leonardo">
    <img src="{% static 'Ninjas/images/donatello.png'%}" alt="Leonardo">
    <img src="{% static 'Ninjas/images/michelangelo.png'%}" alt="Leonardo">
    <img src="{% static 'Ninjas/images/raphael.png'%}" alt="Leonardo">
</body>
</html>
